use flake github:jkorinth/devenvs/dev#electronics
export XDG_DATA_DIRS=$GSETTINGS_SCHEMAS_PATH:$XDG_DATA_DIRS
export XRB_SYMBOLS_DIR=$PWD/lib/symbols
export XRB_FOOTPRINTS_DIR=$PWD/lib/footprints
export XRB_3DMODELS_DIR=$PWD/lib/3dmodels
export XRB_BLOCKS_DIR=$PWD/lib/blocks
